<ion-header>
  <ion-navbar>
    <ion-title>Payloads</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="this.workshop.gift.payloadsComplete()">
    <p>You've added enough content to your gift. You can keep adding more, or return to editing other aspects of your gift now.</p>
  </ng-container>
  <ng-container *ngIf="!this.workshop.gift.payloadsComplete()">
    <p>You need to add at least one piece of content to your gift. This is what the receiver finally experiences when they have unwrapped the gift.</p>
  </ng-container>
  <ion-list>
    <button ion-item *ngFor="let item of this.workshop.gift.payloads" (click)="editPayload(item)">
      <ion-icon name="heart" item-left></ion-icon> {{item.content}}
    </button>
    <button ion-item (click)="addPayload()">
      <ion-icon name="add-circle" item-start></ion-icon> Add another piece of content
    </button>
  </ion-list>
  <ng-container *ngIf="this.workshop.gift.payloadsComplete()">
    <button ion-button success (click)="this.backToGift()">Back to Gift</button>
  </ng-container>
</ion-content>
