page-profile {
    ion-content {
        background: url('../assets/background.jpg');
        background-size: cover;
    }

    ion-card, ion-card-content, ion-card-content p, .card, .card-md, .card-ios {
        @include alpha-background-color(rgba(white, 0.6), white);
    }

    .profile {
        @include alpha-background-color(rgba(white, 1.0), white);
    }

    .logo-row {
        margin-top: 20px;
    }
}
